@import "../../../styles/helpers/function";
@import "../../../styles/helpers/mixin";
@import "../../../styles/helpers/theme";
@import "../../../styles/base/reset";
@import "../../../styles/components/button";
@import "../../../styles/components/shadow";
    
.main-list-course {
    padding-top: 200px;
    background: c("bgSecondary");

    h1 {
        text-align: center;
        @include text(fs("h1"), tc("textPrimary"), fw("fwRegular"), 0);
    }

    .search {
        width: 70%;
        height: 100%;
        display: flex;
        margin-top: 20px;

        input {
            flex-basis: 100%;
            padding: 22px;
            border: none;
            outline: none;
            @include text(fs("h6"), tc("textPrimary"), fw("fwRegular"), 0);
        }
    }

    .list-type-course {
        width: 80%;
        margin-top: 70px;

        .select-group {
            position: relative;

            select {
                width: 100%;
                border: 2px solid bc("borderPrimary");
                background: transparent;
                @include text(fs("subtitle"), tc("textPrimary"), fw("fwRegular"), 0);
                outline: none;
                cursor: pointer;
                padding: 10px;
                padding-right: 20px;
                appearance: none;
                transition: all 0.3s linear;

                &:focus {
                    outline: none;
                }

                option {
                    background: c("bgSecondary");
                }
            }

            .custom-arrow {
                position: absolute;
                top: 0px;
                right: 0px;
                width: 40px;
                height: 100%;
                background: transparent;
                pointer-events: none;

                &::before{
                    content: "";
                    position: absolute;
                    top: 60%;
                    left: 50%;
                    width: 15px;
                    height: 15px;
                    transform: translate(-50%,-50%);
                    border: 8px solid transparent;
                    border-color: btnc("btnBlack") transparent transparent transparent;
                }
            }

            &:hover select {
                border: 2px solid bc("borderGreen");
            }

            &:hover .custom-arrow::before {
                border-color: btnc("btnGreen") transparent transparent transparent;
            }
        }
    }

    .list-course {
        width: 100%;
        min-height: 300px;
    }

    .list-pagination {
        width: 100%;

        .load-more {
            cursor: pointer;
            background: c("bgGreen");
            text-align: center;
            padding: 10px 0px;
            font-size: fs("body2");
            font-weight: fw("fwMedium");
            color: tc("textWhite");
        }
    }
}

// responsive
@media only screen and (max-width: rp("small")) {
    .main-list-course {

        .list-course {
            max-height: 600px;
            overflow-y: auto;
            overflow-x: hidden;
        }
    }
}

@media only screen and (max-width: rp("medium")) {
    .main-list-course {

        .list-course {
            max-height: 600px;
            overflow-y: auto;
            overflow-x: hidden;
        }
    }
}