@import "../../../styles/helpers/function";
@import "../../../styles/helpers/mixin";
@import "../../../styles/helpers/theme";
@import "../../../styles/base/reset";
@import "../../../styles/components/button";

.page-manage-courses {
    background: c("bgSecondary");
    min-height: 100vh;

    .container {
    
        .main-list-course {
            margin-top: 100px;
            justify-content: center;
            align-items: center;
            flex-direction: column;
    
            h1 {
                @include text(fs("h1"), tc("textPrimary"), fw("fwRegular"), 0);
            }
    
            .search {
                width: 70%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 20px;
    
                input {
                    flex-basis: 80%;
                    padding: 22px;
                    border: none;
                    outline: none;
                    @include text(fs("h6"), tc("textPrimary"), fw("fwRegular"), 0);
                }
    
                button {
                    flex-basis: 20%;
                    padding: 20px 0px;
                    border-radius: none;
                }
            }

            .list-type-course {
                width: 80%;
                margin-top: 70px;

                .select-group {
                    position: relative;

                    select {
                        width: 100%;
                        border: 2px solid bc("borderPrimary");
                        background: transparent;
                        @include text(fs("subtitle"), tc("textPrimary"), fw("fwRegular"), 0);
                        outline: none;
                        cursor: pointer;
                        padding: 10px;
                        padding-right: 20px;
                        appearance: none;
                        transition: all 0.3s linear;

                        &:focus {
                            outline: none;
                        }

                        option {
                            background: c("bgSecondary");
                        }
                    }

                    .custom-arrow {
                        position: absolute;
                        top: 0px;
                        right: 0px;
                        width: 40px;
                        height: 100%;
                        background: transparent;
                        pointer-events: none;

                        &::before{
                            content: "";
                            position: absolute;
                            top: 60%;
                            left: 50%;
                            width: 15px;
                            height: 15px;
                            transform: translate(-50%,-50%);
                            border: 8px solid transparent;
                            border-color: btnc("btnBlack") transparent transparent transparent;
                        }
                    }

                    &:hover select {
                        border: 2px solid bc("borderGreen");
                    }

                    &:hover .custom-arrow::before {
                        border-color: btnc("btnGreen") transparent transparent transparent;
                    }
                }
            }

            .list-course {
                width: 100%;
            }

            .list-pagination {
                width: 100%;
                height: 50px;

                .pagination li a{
                    @include text(fs("h6"), tc("textPrimary"), fw("fwRegular"), 0);
                    transition: all 0.3s linear;

                    &:hover {
                        background: c("bgGreen");
                        border-color: btnc("borderGreen");
                    }
                }
            }
        }
    }
}