@import "../../../styles/helpers/function";
@import "../../../styles/helpers/mixin";
@import "../../../styles/helpers/theme";
@import "../../../styles/base/reset";
@import "../../../styles/components/button";

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(136deg, c("bgGreen") 50%, c("bgSecondary") 50%);

    .form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 300px;
        background: c("bgSecondary");
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
        border-radius: 6px;
        overflow: hidden;
        transition: all 0.7s;

        &:hover {
            top: 48%;
        }

        .tab-header {
            display: flex;
            height: 35px;
            line-height: 35px;

            div {
                background: #ccc;
                @include text(fs("h5"), tc("textSecondary"), fw("fwRegular"), 0);
                width: 50%;
                height: 100%;
                text-align: center;
                cursor: pointer;
                transition: all 0.5s;

                &:hover {
                    color: #fff;
                }
            }

            div.active {
                background: c("bgSecondary");
                color: #111;
                opacity: 1;
                transition: all 0.5s;
            }
        }

        .tab-content {
            padding: 2rem;
            @include text(fs("subtitle"), tc("textPrimary"), fw("fwRegular"), 0);

            .form-group {

                input {
                    @include text(fs("body2"), tc("textPrimary"), fw("fwRegular"), 0);
                    padding: 10px 5px !important;
                    outline: none;
                }

                input[type=checkbox] {
                    margin: 0px !important;
                    top: 5px;
                    left: 0px;
                }

                .form-check-label {
                    font-size: fs("body2");
                }

                // button {
                //     position: relative;
                //     width: 100% !important;
                //     text-transform: uppercase;
                    
                //     background: linear-gradient(136deg, btnc("btnGreen") 50%, btnc("btnWhite") 50%);
                //     border: none;
                //     border-radius: 4px;
                    
                //     background-size: 250%;
                //     border: 1px solid bc("borderGreen") !important;
                //     outline: none;
                //     padding: 5px;

                //     @include text(fs("h5"), tc("textPrimary"), fw("fwRegular"), 0);
                //     transition: all 0.5s;

                //     &:hover {
                //         background-position: right;
                //         color: tc("textGreen");
                //     }
                // }
            }

            .tab-body.active {
                display: block;
            }

            .tab-body {
                display: none;
            }
            .hidden {
                display: none;
            }
            .appear {
                display: block;
            }
        }
    }
}
