@import "../../../styles/helpers/function";
@import "../../../styles/helpers/mixin";
@import "../../../styles/helpers/theme";
@import "../../../styles/base/reset";
@import "../../../styles/components/button";

.wrapper {

    .slidebar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: c("bgGrayBlack");
        position: fixed;
        top: 70px;
        width: 250px;
        height: calc(100% - 9%);
        border-right: 1px solid bc("borderSecondary");
        z-index: 1;
        transition: all 0.3s linear;

        .slidebar-menu {
            overflow: hidden;

            .item {
                width: 250px;
                overflow: hidden;
                list-style-type: none;

                .menu-btn {
                    display: block;
                    @include text(fs("h5"), tc("textWhite"), fw("fwRegular"), 0);
                    position: relative;
                    padding: 25px 20px;
                    transition: all 0.3s linear;

                    &:hover {
                        color: tc("textGreen");
                    }

                    i {
                        margin-right: 20px;
                    }
                }
            }
        }

        .slidebar-profile {
            background: transparent;
            opacity: 1;
            transition: all 0.5s linear;

            .profile-info {
                text-align: center;

                .img {
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    margin: 10px auto;
                    cursor: pointer;
                    overflow: hidden;

                    img {
                        width: 100%;
                    }
                }

                .username {
                    @include text(fs("h6"), tc("textWhite"), fw("fwMedium"), 0);
                }

                .code-group {
                    @include text(fs("subtitle"), tc("textSecondary"), fw("fwRegular"), 0);
                }

                .email {
                    @include text(fs("body2"), tc("textSecondary"), fw("fwRegular"), 0);
                    margin-bottom: 20px;
                }
            }

            .profile-contact {
                border-top: 1px solid bc("borderSecondary");
                @include text(fs("subtitle"), tc("textSecondary"), fw("fwRegular"), 0);
                margin: 10px 0px;
                text-align: center;
                
                p {
                    margin: 5px 0px;

                    span, a {
                        padding: 5px;
                        
                        i {font-size: 20px;}
                    }

                    .icon-copy {
                        padding: 0px;

                        i {font-size: 15px;}
                    }
                }
            }
        }
    }
}

.wrapper.collapse-slide {

    .slidebar {
        width: 70px;
        transition: all 0.3s linear;

        a span {
            display: none;
        }

        .slidebar-menu .item {

            .menu-btn{
                font-size: fs("h4");
            }
        }

        .slidebar-profile {

            .img {
                margin: 25px auto;
            }

            p, a, span, .profile-contact {
                display: none;
            }
        }
    }

    .main-container {
        width: calc(100% - 70px);
        margin-left: 70px;
    }
}