@import "../../../src/styles/helpers/function";
@import "../../../src/styles/helpers/mixin";
@import "../../../src/styles/helpers/theme";
@import "../../../src/styles/base/reset";
@import "../../../src/styles/components/button";
@import "../../../src/styles/helpers/keyframes";

.footer-contain {
    background: c("bgSecondary");
    padding-top: 50px;

    .scroll-to-top {
        position: fixed;
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        right: 20px;
        bottom: 20px;
        background: c("bgGreen");
        cursor: pointer;
        font-size: fs("body2");
        color: tc("textWhite");
        display: none;
    }

    .scroll-to-top.active {
        display: block;
        animation: upDown 2.6s infinite linear;
    }

    .title {
        font-size: fs("h4");
        font-weight: fw("fwMedidum");
        margin-bottom: 20px;
    }

    p {
        font-size: fs("body2");
    }

    .list-footer, .list-footer-company {
        list-style: none;
        padding-left: 5px;

        i {
            font-size: fs("h4");
        }

        a {
            display: block;
            padding: 10px;
            color: c("bgBlack");
            font-size: fs("body2");
            font-weight: fw("fwLight");
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    .list-footer-company a {
        padding: 5px !important;
    }

    .form {
        margin: 20px 0px;

        input[type="text"] {
            padding: 5px 5px 5px 10px;
            border: none;
            outline: none;
            width: 100%;
        }

        button {
            padding: 10px 15px;
            border: none;
            background: c("bgOrange");
            box-shadow: none;
            color: tc("textWhite");
        }
    }
}