@import "../../../../styles/helpers/function";
@import "../../../../styles/helpers/mixin";
@import "../../../../styles/helpers/theme";
@import "../../../../styles/base/reset";
@import "../../../../styles/components/product-item";

.user {
    background: none !important;
}

.modal-user {

    .avatar-course {
        width: 100%;
        height: 200px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.page-title {
    color: tc("textWhite");
    text-align: center;
    margin-top: 20px;
}

.modal-user--form {

    .image-course {
        width: 100%;
        height: 300px;
        margin-bottom: 20px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .react-datepicker-wrapper {
        width: 100% !important;
    }

    .react-datepicker__month-container {
        font-size: fs("body1");
    }

    .react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header {
        font-size: fs("body1");
    }
}

.modal-user.active {
    display: block;
}