@import "../../../styles/helpers/function";
@import "../../../styles/helpers/mixin";
@import "../../../styles/helpers/theme";
@import "../../../styles/base/reset";
@import "../../../styles/components/button";
@import "../../../styles/components/shadow";

.product-item {
    background: c("bgPrimary");
    width: 100%;
    cursor: pointer;
    transition: all 0.3s linear;

    &:hover {
        box-shadow: 0px 0px 0px rgba(0,0,0,.15) !important;
    }

    .card-img-top {
        width: 100%;
        height: 200px;
        
        img {
            width: 100%;
            height: 100%;
        }
    }

    .card-body {    
        position: relative;
        padding-top: 0px;
        
        .rate {
            position: absolute;
            top: 0px;
            left: 10px;
            height: 28px;

            &:not(:checked) {

                input {
                    position:absolute;
                    top:-9999px;
                }

                label {
                    float:right;
                    width: 17px;
                    overflow:hidden;
                    white-space:nowrap;
                    cursor:pointer;
                    @include text(fs("subtitle"), tc("textSecondary"), none, 0);

                    &::before {
                        content: '★ ';
                    }
                }
                .checked {
                    color: tc("textGreen");
                }
            }

            input:checked ~ label {
                color: tc("textGreen");    
            }

            &:not(:checked) > label:hover,
            &:not(:checked) > label:hover ~ label {
                color: tc("textGreen");     
            }

            input:checked + label:hover,
            input:checked + label:hover ~ label,
            input:checked ~ label:hover,
            input:checked ~ label:hover ~ label,
            label:hover ~ input:checked ~ label {
                color: tc("textGreen");    
            }
        }

        .card-title {
            padding-top: 28px;
            @include text(fs("subtitle"), tc("textPrimary"), fw("fwMedium"), 0);
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        .card-text {
            @include text(fs("body1"), tc("textPrimary"), fw("fwLight"), 0);
        }
    }

    .footer {
        display: flex;
        justify-content: space-between;
        
        span {
            cursor: pointer;
            @include sizeIcon(35px, 35px, 35px);
            @include fontIcon(fs("subtitle"), tc("textPrimary"));
            border-radius: 50%;
            transition: all 0.3s linear;

            &:nth-child(1) {
                color: tc("textBlue");
            }

            &:nth-child(2) {
                color: tc("textSecondary");
            }

            &:hover {
                background: c("bgGreen");
                color: tc("textWhite");
            }
        }

        .read-more {
            width: auto;
            height: 35px;
            border-radius: 0px;
            padding: 0px 5px;
            margin-left: auto;
        }
    }
}